<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${titulo}"></title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"></link>
</head>
<body>
<h1 class="color-rojo" th:text="${titulo}"></h1>
<h2 class="color-azul">Decorando</h2>
<img th:src="@{/images/icon.xpm}"></img>

<table th:if="${!usuarios.isEmpty()}">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>Correo</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="usuario: ${usuarios}">
				<td th:text="${usuario.nombre}"></td>
				<td th:text="${usuario.apellido}"></td>
				<td th:text="${usuario.email}"></td>
			</tr>
		</tbody>
	</table>
	
<h1>Enviar parám,etros del Request HTTP GET -URL</h1>
<ul>
<li><a th:href="@{/params/mix-params(saludo='Como estas Marcelo', numero=98)}">/params/mix-params?saludo='Como estas Marcelo', numero=98'  </a></li>
<li><a th:href="@{/params/mix-params-request(saludo='Como estas Marcelo', numero=98)}">/params/mix-params?saludo='Como estas Marcelo', numero=98' REQUEST </a></li>
</ul>
</body>
</html>